PowerPlatformDevOpsALM/SolutionPackage/Workflows/GetEnvironmentSolutions-BD40F612-41FF-EA11-A815-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cat_CDSDevOps"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"EnvironmentUniqueName_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false},"RegionSubdomain_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["EnvironmentUniqueName_Value","RegionSubdomain_Value"]}}}},"actions":{"EnvironmentUniqueName":{"runAfter":{"RegionSubdomain":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EnvironmentUniqueName","type":"string","value":"@{triggerBody()['EnvironmentUniqueName_Value']}"}]}},"RegionSubdomain":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"RegionSubdomain","type":"string","value":"@{triggerBody()['RegionSubdomain_Value']}"}]}},"List_records":{"runAfter":{"EnvironmentUniqueName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"@{variables('EnvironmentUniqueName')}.@{variables('RegionSubdomain')}","table":"solutions","$filter":"ismanaged eq false and isvisible eq true and uniquename ne 'Default' and solutionid ne 00000001-0000-0000-0001-00000000009b"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Response":{"runAfter":{"List_records":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@outputs('List_records')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"_organizationid_value":{"type":"string"},"_organizationid_type":{"type":"string"},"versionnumber":{"type":"integer"},"solutionid":{"type":"string"},"uniquename":{"type":"string"},"friendlyname":{"type":"string"},"_createdby_value":{"type":"string"},"_createdby_type":{"type":"string"},"_publisherid_value":{"type":"string"},"_publisherid_type":{"type":"string"},"isapimanaged":{"type":"boolean"},"ismanaged":{"type":"boolean"},"_modifiedby_value":{"type":"string"},"_modifiedby_type":{"type":"string"},"isvisible":{"type":"boolean"},"version":{"type":"string"},"modifiedon":{"type":"string"},"createdon":{"type":"string"},"installedon":{"type":"string"},"_solutiontype_label":{"type":"string"}},"required":["@@odata.id","@@odata.etag","ItemInternalId","_organizationid_value","_organizationid_type","versionnumber","solutionid","uniquename","friendlyname","_createdby_value","_createdby_type","_publisherid_value","_publisherid_type","isapimanaged","ismanaged","_modifiedby_value","_modifiedby_type","isvisible","version","modifiedon","createdon","installedon","_solutiontype_label"]}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}